<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a1841bad-1daf-4a72-a6f7-2ed856879df5/resourceGroups/DominosPizzaPickerResourceGroup/providers/Microsoft.Web/sites/DominosPizzaPicker</ResourceId>
    <ResourceGroup>DominosPizzaPickerResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dominospizzapicker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dominospizzapicker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DominosPizzaPicker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DominosPizzaPicker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:dominospizzapickerserver.database.windows.net,1433;Initial Catalog=DominosPizzaPicker_db;User ID=jmsa;Password=Lollipopz997" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=PizzaPicker;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_TableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True; Initial Catalog=PizzaPicker" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:dominospizzapickerserver.database.windows.net,1433;initial catalog=DominosPizzaPicker_db;user id=jmsa;password=Lollipopz997;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PizzaPickerConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:dominospizzapickerserver.database.windows.net,1433;Initial Catalog=DominosPizzaPicker_db;Persist Security Info=False;User ID=jmsa;Password=Lollipopz997;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>